<html>
        <head>
            <title>
                注册
            </title>
        </head>
        <body>
            <form action="" method="POST">
                <div>
                    <label>手机号码：<input type="text" name="mobile"></label>
                </div>
                <div>
                    <label>密码：<input type="password" name="password"></label>
                </div>
                <input type="submit" value="提交">
            </form>
        </body>
    </html>
    
    